SSJC/platforms/electron/www/node_modules/**
SSJC/platforms/electron/build/HelloCordova Setup 1.0.0.exe
SSJC/platforms/electron/build/HelloCordova Setup 1.0.0.exe.blockmap
SSJC/platforms/electron/build/win-unpacked/resources/app.asar
SSJC/platforms/electron/build/win-unpacked/resources/app.asar.unpacked/node_modules/app-builder-bin/package.json
SSJC/platforms/electron/build/win-unpacked/resources/app.asar.unpacked/node_modules/electron/package.json
SSJC/platforms/electron/www/package-lock.json
SSJC/platforms/electron/
